!.docker

# local env files
.env.local
.env.*.local

# Editor directories and files
.idea
.vscode
*.out
*.suo
*.ntvs*
*.njsproj
*.sln

.DS_Store
node_modules
/dist

# Log files
npm-debug.log*
yarn-debug.log*
yarn-error.log*
pnpm-debug.log*

